$color_0: #262026;
$color_1: #1e191e;
$color_2: #dbd7d2;

$color_3: #3b363b;
$color_4: #b1a7a8;
$color_5: #986992;

$color_6: #563d53;
$color_7: #82687f;
$color_8: #6a3864;

* {
    all: unset;
    font-family: "CommitMono Nerd Font";
} 

@import "./dashboard/dashboard.scss";
@import "./status_bar/status_bar.scss";
