$_c0: #262026;
$_c1: #1e191e;
$_c2: #dbd7d2;

$_c3: #3b363b;
$_c4: #3c0835;
$_c5: #986992;

$_c6: #563d53;
$_c7: #82687f;
$_c8: #6a3864;

@import "./dashboard/dashboard.scss";
@import "./status_bar/status_bar.scss";

* {
    all: unset;
    font-family: "Iosevka Nerd Font";
}
