.status_bar_in {
    background: $_c1;
}

.status_bar_out {
    padding: 5px;
    background: $_c0;
}

.bar_workspace {
    padding: 0px 8px;
    font-size: 20px;
    background: $_c1;
}

.bar_workspaces {
    margin: 18px 10px 0px 0px;
}

.workspace-box {
    margin: 18px 10px 0px 0px;
}

.workspace-button {
    padding: 0px 8px;
    font-size: 20px;
    background: $_c1;
}

.lambda_time {
    background: $_c0;

    margin: 4px;
    padding: 6px;
    font-size: 18px;
}
